extends: '../.eslintrc'

env:
  mocha: true

globals:
  sinon: true
  expect: true
  should: true
  testTempFolder: true
  testPath: true
  createFilePath: true

rules:
  no-unused-expressions: 0
  max-nested-callbacks: 0
  no-warning-comments: 0
